accelerate==1.15.0
datasets==5.0.1
evaluate==0.4.6
geopandas==1.1.4
matplotlib==3.11.2
matplotlib-inline==0.2.2
matplotlib-venn==1.1.2
pandas==3.0.6
pandas-datareader==0.11.1
pandas-gbq==0.30.0
pandas-stubs==2.2.3.250527
peft==0.21.0
PyYAML==6.0.3
scikit-learn==1.9.1
scipy==1.18.1
sentence-transformers==5.7.0
sentencepiece==0.2.2
sklearn-pandas==2.2.0
tensorflow-datasets==4.9.10
tqdm==4.70.1
transformers==5.17.0
vega-datasets==0.9.0
